@font-face {
  font-family: 'RegolaPro-Regular';
  src: url('../fonts/RegolaPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RegolaPro-Book';
  src: url('../fonts/RegolaPro-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {}

body {}

h1 {
  font-weight: 400;
}

.section {
  padding-left: 5rem;
  padding-right: 5rem;
  color: #00000;
  max-width: 37rem;
}

.text {
  font-family: "RegolaPro-Book";
  font-size: 16px;
  line-height: 1.62;
}

a {
  color: #F84D22;
  text-decoration: none;
  cursor: url("../images/pencil.png"), pointer;
}

a:hover {
  text-decoration: none;
  border-bottom: none;
}

dt:before {
  margin-right: 2px;
}

dt {
  list-style-type: none;
}

dd {
  margin-left: 0px;
  color: #989898;
}

dl {
  margin-top: 24px;
  margin-bottom: 24px;
}

.label {}

.space {
  height: 3rem;
}

.space2 {
  height: 5rem;
}

.h2custom {
  height: 20px;
}

.w2custom {
  width: 20px;
}

.email {
  position: relative;
  top: -0.3rem;
}

@media only screen and (max-device-width: 480px) {

  .text {
    font-family: "RegolaPro-Book";
    font-size: 15px;
  }

  .space {
    height: 1rem;
  }

  .section {
    padding-left: 2rem;
    padding-right: 2rem;
    color: #424242;
    max-width: 38rem;
  }

  .space2 {
    height: 2rem;
  }

}
