@font-face {
    font-family: 'PublicSans-ExtraLight';
    src: url('../fonts/PublicSans-ExtraLight.woff') format('woff');
         url('../fonts/PublicSans-ExtraLight.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}å

* {}

body {
}

.intro {
    padding-left: 3rem;
    padding-right: 3rem;
    color: #424242;
    max-width: 36.5rem;
}

.subtext {
    font-family: "PublicSans-ExtraLight";
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 1.62;
}

a {
    color : #f44336;
    text-decoration: none;
     cursor: url("../images/pencil.png"), pointer;
}
